.App {
  text-align: center;
}

.container{
  display:flex;
  position:relative;
  flex-direction: column;
  left:50%;
  transform: translate(-50%,0);
  width:50px;
  height: 100%;
  border: solid 1px #6A737D;
  background-color: #F6F8FA;
  /* padding: 12px 12px;
  margin: 12px 12px; */
  margin-bottom: 125px;
}

.titleDetail{
  display:flex;
  position:relative;
  flex-direction: row;
  height: fit-content;

  /* border: solid 1px green; */
}

.titleBox {
  display:flex;
  flex-direction: row;
}

.title{
  font-size: 20px;
  text-align: left;
  color: #222325;
  width: fit-content;
  font-weight:500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.title:hover{
  text-decoration:underline;
  cursor: pointer;
}

.postBlock {
  padding:7px;
}



.postList {
  padding: 12px 17px;
  font-size: x-large;
  font-weight: bolder;
  border: solid 1px #6A737D;
  border-radius: 10px;

}

.timeStyle2 {
  margin-left: 0;
  color:#6A737D;
}

.commentsStyle {
  margin-left: 10px;
  color:#0366D6;
}

.commentsStyle:hover {
  text-decoration:underline;
  cursor: pointer;
}

.createButton {
  width: fit-content;
  height: fit-content;
  border: solid 1px #6A737D;
  background-color: #2EA44F;
  color: aliceblue;
  font-weight: bolder;
  padding:10px;
  margin: 10px;
  border-radius: 10px;
}

.createButton:hover{
  background-color: #269243;
  cursor: pointer;
}
