.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container{
  display:flex;
  position:relative;
  flex-direction: column;
  left:50%;
  transform: translate(-50%,0);
  width:50px;
  height: 100%;
  border: solid 1px #6A737D;
  background-color: #F6F8FA;
  /* padding: 12px 12px;
  margin: 12px 12px; */
  margin-bottom: 125px;
}

.titleDetail{
  display:flex;
  position:relative;
  flex-direction: row;
  height: fit-content;

  /* border: solid 1px green; */
}

.titleBox {
  display:flex;
  flex-direction: row;
}

.title{
  font-size: medium;
  text-align: left;
  color: #24292E;
  width: fit-content;

}

.title:hover{
  text-decoration:underline;
  cursor: pointer;
}

.postBlock {
  padding:7px;
}



.postList {
  padding: 12px 17px;
  font-size: x-large;
  font-weight: bolder;
  border: solid 1px #6A737D;
  border-radius: 10px;

}

.commentsStyle {
  margin-left: 10px;
}

.commentsStyle:hover {
  text-decoration:underline;
  cursor: pointer;
}

.createButton {
  width: fit-content;
  height: fit-content;
  border: solid 1px #6A737D;
  background-color: #2EA44F;
  color: aliceblue;
  font-weight: bolder;
  padding:10px;
  margin: 10px;
  border-radius: 10px;
}

.createButton:hover{
  background-color: #269243;
  cursor: pointer;
}
