.loginButton {
    width: fit-content;
    height: fit-content;
    border: solid 1px #6A737D;
    background-color: #2EA44F;
    color: aliceblue;
    font-weight: bolder;
    padding:10px;
    margin: 10px;
    border-radius: 10px;
}

.loginButton:hover{
    background-color: #269243;
}

